use_guix racket@8.12
raco pkg install --auto --skip-installed gregor cover ansi-color
export_alias t "# run all tests" "raco test -y -t -x -j 8 ."
export_alias m "# make all rkt files" "raco make -v -j 8 *.rkt"
export_alias b "# make and test all rkt files"  "m && t"
export_alias c "# clean previous build artifacts" "rm \${DIRENV_DIR:1}/compiled/*.zo 2>/dev/null || echo -n; rm \${DIRENV_DIR:1}/compiled/*.dep 2>/dev/null || echo -n; echo \"cleaned.\""
export_alias x "# build executable" "raco exe --gui duplicity-fib-discard.rkt"
export_alias bb "# clean, make and test rkt files"  "c && m && t"
